
.image-box{
	margin-left: auto;
	width:85%;
    margin:0 auto;
    background-color:white;

}
.imgbox{
	padding:30px 0px 50px 30px;
}
.txtbox{
    padding:0px 0px 0px 30px;
}
.imgtxtbox{
	float:left;
	padding:0px 30px 30px 30px;
}


.edit-name{
	padding:30px 0px 30px 0px;
	font-size:30px;
}
.edit-form{
	text-align:center;
}
.text-form{
	display:block;
	margin:0 auto;
}
.edit-content{
	padding-bottom:10px;
}
.paginate{
	display:block;
}


.new-name{
	padding:30px 0px 30px 0px;
	font-size:30px;
	text-align:center;
}
.newbox{
	display:block;
	margin:0 auto;
	padding:5px 15px 5px 15px;
}
.newbox2{
	display:block;
	margin:0 auto;
	padding:15px 15px 15px 15px;
	text-align:left;
}
.new-content{
	padding-bottom:10px;
}
.new-box{
	width:150px;
	height:30px;
	margin:0 auto;
	display:block;
	background-color:#f57a00;
	color:white;
}

.post-image{
	float:left;
	padding-top:30px;
}
.stone-index{
}
.stone-image-box{
    width:70%;
    margin:0 auto;
}
.comment-count{
	clear:both;
}
.stone-index{
	font-size:20px;
	text-align:center;
	padding-top:100px;
}
.title{
	padding-bottom:30px;
}
.caption{
	padding-bottom:20px;
}
.image-box1{
	padding-bottom:5px;
}
.comment-box{
	padding:30px　0px 10px 10px;
	margin:0px 0px 10px 10px;
}
.comment-count{
	padding:50px 0px 0px 10px;
}
.comment{
	padding:0px 0px 20px 10px;
}

