.profile-container{
	background-color:white;
	padding:25px 0px 25px 15px;
	text-align:center;
}
.proofile-name{
	font-size:30px;
	color:white;
}
.container{
	background-color:black;
}
.image-box{
	margin-left: auto;
	width:85%;
    margin:0 auto;
    background-color:white;

}
.imgbox{
	padding:30px 0px 50px 30px;
}
.txtbox{
    padding:0px 0px 0px 30px;
}
.imgtxtbox{
	float:left;
	padding:0px 30px 30px 30px;
}


.edit-name{
	padding:30px 0px 30px 0px;
	font-size:30px;
}
.edit-form{
	text-align:center;
}
.text-form{
	display:block;
	margin:0 auto;
}
.edit-content{
	padding-bottom:10px;
}